.introduction {
    padding: 1em;
}

.introduction__heading {
    font-size: 2em;
}

.introduction__button {
    display: block;
    font-family: inherit;
    font-size: 1.5em;
    margin: 0 auto;
    max-width: 8em;
}
