.quiz__heading {
    font-size: 2em;
    text-align: center;
}

.quiz__answers {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0 1em;
}

.quiz__answerbox {
    margin-bottom: 1em;
}

.quiz__answer {
    display: block;
    text-align: left;
    width: 100%;
}

.quiz__answer:hover,
.quiz__answer:focus {
    border-color: #000;
}

.quiz__answer[disabled] {
    cursor: not-allowed;
}

.quiz__answer[disabled]:hover,
.quiz__answer[disabled]:active,
.quiz__answer[disabled]:focus {
    border-color: inherit;
}

.quiz__answer--correct,
.quiz__answer--wascorrect {
    border-color: #0f8a5f;
    color: #0f8a5f;
}

.quiz__answer--incorrect {
    border-color: #b22222;
    color: #b22222;
}

.quiz__answer--correct::before,
.quiz__answer--incorrect::before,
.quiz__answer--wascorrect::before {
    display: inline-block;
    margin-right: 0.3em;
    vertical-align: middle;
}

.quiz__answer--correct::before {
    content: '✅';
}

.quiz__answer--incorrect::before {
    content: '❌';
}

.quiz__answer--wascorrect::before {
    content: '➡️';
}
