.reward {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    justify-content: stretch;
    text-align: center;
}

.reward__preamble {
    margin: 0 auto;
    max-width: 500px;
    padding: 0.5em;
}

.reward__imagebox {
    align-items: center;
    display: flex;
    justify-content: center;
}

.reward__image {
    display: inline-block;
    max-width: 100%;
}

.reward__videobox {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.reward__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.reward__children {
    padding: 0.5em;
}
