.split {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.split__screen {
    flex-basis: 100%;
    max-height: 100vh;
    overflow: auto;
}

@media (min-width: 768px) {
    .split {
        flex-direction: row;
    }
}
