.split {
    display: flex;
    flex-direction: column;
}

.split__screens {
    display: flex;
    flex-direction: column;
}

.split__screen {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .split {
        height: calc(100vh - 2em - 6px);
    }

    .split__screens {
        flex-direction: row;
        height: 100%;
    }

    .split__screen {
        max-height: 100%;
        overflow: auto;
    }
}
