.split {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.split__screen {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .split {
        flex-direction: row;
    }

    .split__screen {
        height: calc(100vh - 2em - 6px);
        overflow: auto;
    }
}
